<div class="mb-12 text-left text-2xl font-bold">
  <% if (user !== null) { %> User: <%= user.fullname %> <% } else { %> No user
  <% } %>
</div>
<h1
  class="font-serif text-3xl text-center font-bold underline decoration-gray-400"
>
  Edit Post
</h1>
<div
  class="max-w-4xl bg-white mt-20 p-8 rounded-lg mx-auto w-screen items-center justify-center shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:bg-neutral-700"
>
  <form
    action="/admin/edit-post"
    method="post"
    enctype="application/x-www-form-urlencoded"
  >
    <!--Title input-->
    <div class="relative mb-6">
      <input
        type="text"
        id="title"
        name="title"
        class="block px-2.5 pb-2.5 pt-4 w-full text-lg text-gray-900 border-2 bg-transparent rounded-lg border-1 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
        placeholder="Title "
        value="<%= post.title %>"
      />
      <label
        for="title"
        class="absolute text-lg text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white dark:bg-gray-900 px-2 peer-focus:px-2 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1"
        >Title</label
      >
    </div>

    <!-- Image input -->
    <div class="relative mb-6">
      <input
        type="text"
        class="block px-2.5 pb-2.5 pt-4 w-full text-lg text-gray-900 border-2 bg-transparent rounded-lg border-1 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
        id="imageUrl"
        name="imageUrl"
        placeholder="Image address"
        value="<%= post.imageUrl %>"
      />
      <label
        for="imageUrl"
        class="absolute text-lg text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white dark:bg-gray-900 px-2 peer-focus:px-2 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1"
        >imageUrl</label
      >
    </div>

    <!--Content textarea-->
    <div class="relative mb-6">
      <textarea
        class="block px-2.5 pb-2.5 pt-4 w-full text-lg text-gray-900 border-2 bg-transparent rounded-lg border-1 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
        id="content"
        name="content"
        rows="6"
        placeholder="Article"
      >
<%= post.content  %></textarea
      >
      <label
        for="content"
        class="absolute text-lg text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white dark:bg-gray-900 px-2 peer-focus:px-2 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1"
        >Article</label
      >
    </div>

    <!--Submit button-->
    <input type="hidden" value="<%= post.id %>" name="postId" />
    <button
      type="submit"
      class="block w-full max-w-xs mx-auto bg-blue-500 hover:bg-blue-700 focus:bg-indigo-700 text-white rounded-lg px-3 py-3 font-semibold"
    >
      Edit Post
    </button>
  </form>
</div>
