<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../includes/head.ejs') %>
  </head>
  <body>
    <%- include('../includes/navigation.ejs') %>
    <main>
      <div class="px-6 py-12 text-center md:px-12 lg:my-12 lg:text-left">
        <div
          class="w-100 mx-auto sm:max-w-2xl md:max-w-3xl lg:max-w-5xl xl:max-w-7xl"
        >
          <%- body %>
        </div>
      </div>
    </main>
    <%- include('../includes/end.ejs') %> <%- include('../includes/footer.ejs')
    %>
  </body>
</html>
